<div data-role="page" id="page-main">

  <div data-role="header" data-position="fixed">
    <h1>Your ToDo</h1>
  </div><!-- Header -->
  
  <div data-role="content">
    <ul data-role="listview" id="todo-list">
      <li id="todo-template" style="display: none">
        <a class="todo-link" href="#page-desc-template">
          <h3 class="todo-title">hogehoge</h3>
          <p class="todo-desc">fuga</p>
        </a>
      </li>
    </ul>
  </div><!-- Content -->
  
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#page-new" data-rel="dialog" data-icon="plus">New</a>
        </li>
      </ul>
    </div>
  </div><!-- Footer -->

</div>

<!-- Dialog (Add new ToDo) -->
<div data-role="page" id="page-new">
  <div data-role="header">
    <h1>New ToDo</h1>
  </div>
  <div data-role="content">
    <div data-role="fieldcontain">
      <label for="input-todo-title">Title</label>
      <input type="text" name="input-todo-title" id="input-todo-title" value="" />
    </div>
    <div data-role="fieldcontain">
      <label for="input-todo-desc">Description</label>
      <textarea name="input-todo-desc" id="input-todo-desc"></textarea>
    </div>
    <input type="button" id="todo-cancel" name="todo-cancel" value="Cancel" data-inline="true" data-icon="delete">
    <input type="submit" id="todo-submit" name="todo-submit" value="Submit" data-inline="true" data-icon="check">
  </div>
</div>

<!-- Description page -->
<div data-role="page" id="page-desc-template">
  <div data-role="header" data-position="fixed">
    <h1 class="todo-desc-title">(No title)</h1>
  </div>
  <div data-role="content">
    <p class="todo-desc-desc">(No description)</p>
    <p class="todo-desc-date">(No date)</p>
    <a href="#" data-rel="back" id="todo-desc-delete" data-role="button" data-icon="delete">Delete</a>
  </div>
</div>

<!-- Script -->
<script type="text/javascript">
// Add list
function appendToDoList(title, desc, created_at) {
  console.log("appendToDoList");
  var dom = $("#todo-template").clone(true);
  dom.attr('id', 'list-' + created_at);
  dom.css('display', 'block');
  var childs1 = dom.find('.todo-title');
  childs1.text(title);
  var childs2 = dom.find('.todo-desc');
  childs2.text(desc);
  var childs3 = dom.find('.todo-link');
  childs3.attr('href', '#page-' + created_at);
  $("#todo-list").append(dom);
}

// Add page
function appendToDoPage(title, desc, created_at) {
  console.log("appendToDoPage");
  // Add description page
  var page = $("#page-desc-template").clone(true);
  page.attr('id', 'page-' + created_at);
  
  var childs1 = page.find('.todo-desc-title');
  childs1.text(title);
  
  var childs2 = page.find('.todo-desc-desc');
  childs2.text(desc);
  
  var childs3 = page.find('.todo-desc-date');
  var date = new Date();
  date.setTime(created_at);
  var dateText = (1900 + date.getYear()) + "/" + (1 + date.getMonth())+ "/" + date.getDate();
  childs3.text("Created at " + dateText);
  
  $("body").append(page);
  console.log($("body"));
}

function appendToDo(title, desc, created_at) {
  appendToDoList(title, desc, created_at);
  appendToDoPage(title, desc, created_at);
}

//
function restoreLocalStorage() {
  var dbText = localStorage["todo"];
  var db = [];
  if (dbText) {
    db = JSON.parse(dbText);
  }
  //
  for (var i = 0; i < db.length; i++) {
    console.log("i=" + i)
    var title = db[i].title;
    var desc = db[i].desc;
    var created_at = db[i].created_at;
    appendToDo(title, desc, created_at);
  }
}

$(document).ready(function(){

  // Close dialog
  $('#todo-cancel').click(function () {
    $('.ui-dialog').dialog('close');
  });

  // Submit data and close dialog
  $('#todo-submit').click(function () {

    var title = $('#input-todo-title').val() || "(No title)";
    var desc  = $('#input-todo-desc').val() || "(No description)";
    var date = new Date();
    var created_at = date.getTime();

    // Append DOMs
    appendToDo(title, desc, created_at);

    // Save data to localStorage
    // TODO: Post data to server
    var param = {
      title:      title,
      desc:       desc,
      created_at: created_at
    };
    var db = [];
    var dbText = localStorage["todo"];
    if (dbText) {
      db = JSON.parse(dbText);
    }
    db.push(param);
    localStorage["todo"] = JSON.stringify(db);
    $.post('/todos/create', param); // dummy
    
    // Close dialog
    $('#input-todo-title').val("");
    $('#input-todo-desc').val("");
    $('.ui-dialog').dialog('close');
  });

  // Delete a task
  $('#todo-desc-delete').click(function(){
    console.log("delete");
    var content = $(this).parent();
    var page = $(content).parent();
    console.log(page);
    var listId = page.attr('id').replace('page', 'list');
    console.log(listId);
    var list = $("#" + listId);
    console.log(list);
    // remove
    //page.remove();
    list.remove();

    // Delete localStorage
    var created_at = parseInt(listId.replace("list-", ""));
    var db = JSON.parse(localStorage['todo']);
    var temp = [];
    for (var i = 0; i < db.length; i++) {
      if (db[i].created_at === created_at) {
      } else {
        temp.push(db[i]);
      }
    }
    localStorage['todo'] = JSON.stringify(temp);
  });

  // Craete DOMs from localStorage
  restoreLocalStorage();
});
</script>
